#continuar_opciones {
    background-color:rgb(0,128,0);
    border-color:rgb(0,128,0);
    color:#fff;
    font-weight:bold;
    font-family:Calibri Light;
    font-size:20px;
    padding-left:29px;
    padding-right:29px;
    padding-bottom:5px;
    padding-top:5px;
    margin-top:auto;
}